front-office/.DS_STORE
front-office/node_modules
front-office/scripts/flow/*/.flowconfig
front-office/.flowconfig
front-office/*~
front-office/*.pyc
front-office/.grunt
front-office/_SpecRunner.html
front-office/__benchmarks__
front-office/build/
front-office/remote-repo/
front-office/coverage/
front-office/.module-cache
front-office/fixtures/dom/public/react-dom.js
front-office/fixtures/dom/public/react.js
front-office/test/the-files-to-test.generated.js
front-office/*.log*
front-office/chrome-user-data
front-office/*.sublime-project
front-office/*.sublime-workspace
front-office/.idea
front-office/*.iml
front-office/.vscode
front-office/*.swp
front-office/*.swo

front-office/packages/react-devtools-core/dist
front-office/packages/react-devtools-extensions/chrome/build
front-office/packages/react-devtools-extensions/chrome/*.crx
front-office/packages/react-devtools-extensions/chrome/*.pem
front-office/packages/react-devtools-extensions/firefox/build
front-office/packages/react-devtools-extensions/firefox/*.xpi
front-office/packages/react-devtools-extensions/firefox/*.pem
front-office/packages/react-devtools-extensions/shared/build
front-office/packages/react-devtools-extensions/.tempUserDataDir
front-office/packages/react-devtools-inline/dist
front-office/packages/react-devtools-shell/dist
front-office/packages/react-devtools-timeline/dist